:root {
  --grey-color: #888;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
}
* {
  box-sizing: border-box;
  scrollbar-width: 15px;
  scrollbar-color: var(--blue-color) white;
}
*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}

/* start sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}

.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  background-color: black;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.sidebar > h3::before {
  width: 100px;
  height: 3px;
  bottom: -20px;
}
.sidebar > h3::after {
  width: 20px;
  height: 20px;
  bottom: -30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px solid white;
  animation: left-to-right 1.5s forwards infinite;
  -webkit-animation: left-to-right 2s linear infinite;
}
.sidebar > h3:hover::after {
  animation-play-state: paused;
}
.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f1f1f9;
}

.sidebar ul li a span {
  margin-left: 10px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 63px;
    padding: 10px;
  }

  .sidebar > h3 {
    padding: 2px;
    right: 8px;
    font-size: 11px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
}
/* end sidebar */

/* start content */
.content {
  overflow: hidden;
}

.content .head .search::before {
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 15px;
  font-size: 14px;
  color: var(--grey-color);
}

.content .head .search input[type="search"] {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.content .head .search input[type="search"]:focus {
  width: 200px;
}
.content .head .search input[type="search"]:focus::placeholder {
  opacity: 0;
}
.content .head .icons .notification {
  cursor: pointer;
}
.content .head .icons .notification::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  right: -5px;
  top: -7px;
}
.content .head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  cursor: pointer;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  bottom: -20px;
}

.page h1::before {
  width: 120px;
  background-color: #fff;
}
.page h1::after {
  width: 40px;
  background-color: #000;
}
/* end content */
/* start wrapper  */
.page .wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .page .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* endwrapper  */
/* start welcome widges */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 170px;
  margin-bottom: -10px;
}
.welcome > img {
  width: 60px;
  margin-top: -30px;
  margin-left: 15px;
  border: 3px solid white;
  box-shadow: 0 0 5px #ddd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
}

@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
}
/* end welcome widges */

/* start quick-draft widget */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}

.quick-draft .save {
  margin-left: auto;
}
.quick-draft textarea:focus::placeholder,
.quick-draft .inpt-title:focus::placeholder {
  opacity: 0;
}

/*end quick-draft widget */

/* start targets */
.targets .target .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.targets .target .details {
  flex: 1;
}
.targets .target .details .progress {
  height: 4px;
}
.targets .target .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .target .details .progress > span span {
  position: absolute;
  border-radius: 6px;
  padding: 2px 5px;
  right: -16px;
  bottom: 16px;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 12px;
}
.targets .target .details .progress > span span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.targets .target .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .target .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .target .details .progress > .green span::after {
  border-top-color: var(--green-color);
}

.targets .blue .icon,
.targets .blue .progress {
  background-color: #cce3ff;
}
.targets .orange .icon,
.targets .orange .progress {
  background-color: #fdecce;
}
.targets .green .icon,
.targets .green .progress {
  background-color: #d2f4df;
}
/* endtargets */
/* start tickets */

.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* end tickets */

/* start news */
.news .box {
  position: relative;
  margin-bottom: 40px;
}

.news .box::before {
  position: absolute;
  content: "";
  width: 100%;
  border: 1px solid #eeeeee;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}
.news .box img {
  width: 100px;
  margin-right: 30px;
}

.news .box p {
  text-align: center;
  width: 100px;
  font-size: 11px;
}
@media (max-width: 599px) {
  .news .box .content {
    margin-right: 0;
    margin-left: -15px;
  }
  .news .box .content h2 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .news .box .content span {
    font-size: 12px;
    line-height: -2;
  }
  .news .box p {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
/* end news */

/* start tasks */
.tasks .box {
  padding-top: 6px;
  padding-bottom: 6px;
}
.tasks .box .div {
  flex-grow: 1;
}
.tasks .box i {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.tasks .box i:hover {
  color: red;
  cursor: pointer;
}
/* end tasks */

/* start uploads */
.latest-uploads ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* start uploads */
.latest-uploads ul li:not(:last-of-type){
  border-bottom: 1px solid #eee;
}
/* end uploads */

/* start animation  */
@keyframes left-to-right {
  20% {
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
  }
  50% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  80% {
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
  }
}

/* end animation  */
