:root {
  --grey-color: #888;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;

}
/* start box  */

.d-flex {
  display: flex;
}
.align-c {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.d-grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* end box  */

/* start width + height */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
/* end width + height */

/* start padding +margin  */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
/* end padding +margin */

/* start border */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.b-3c {
  border: 1px solid #ccc;
}
.b-none {
  border: none;
}
/* end border */

/* start color  */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange{
  background-color:var(--orange-color) ;
}
.bg-green{
  background-color: var(--green-color);
}
.c-black {
  color: black;
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-blue{
  color:var(--blue-color)
}
.c-orange{
  color:#f59e0b;
}
.c-green{
  color:#22c55e;
}
/* end color  */

/* start font  */
.text-c {
  text-align: center;
}

@media (max-width: 767px) {
  .text-c-mobile {
    text-align: center;
  }
}
.f-b {
  font-weight: bold;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}

/* end font  */

/* start position */

/* start position */
.p-relative {
  position: relative;
}
/* end position */

/* start media  */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
/* end media  */

/* start component  */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}
.btn-shape:hover {
  background-color: var(--blue-alt-color);
}
.btn-shape-trans {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
/* end component  */
