/* start box  */
.d-flex {
  display: flex;
}
.align-c {
  align-items: center;
}
/* end box  */

/* start padding +margin */
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0px;
}

/* end padding +margin */

/* start border */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* end border */

/* start color  */
.bg-white {
  background-color: white;
}
.c-black {
  color: black;
}
/* end color  */

/* start font  */
.text-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

/* end font  */

/* start position */

/* start position */
.p-relative{
  position: relative;
}
/* end position */

/* start media  */
@media(max-width:767px){
  .hide-mobile{
    display: none;
  }
}
/* end media  */